
.cardWrapper{
    margin: 150px 0 20px 0;
    display: flex;
    border-radius: 10px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.quantityWords{
    margin: 100px 0 100px 0;
    margin-top: auto;
}