
.Header {
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
    background-color: rgba(255, 166, 0, 0.734);
    grid-template-areas: 'logo nav';
}


.nav {
    grid-template-columns: repeat(4,auto);
    text-align: center;
    color: #ffffff;
    align-items: center;
    justify-items:flex-start;  
  
}

.logoImg {
        display:flex;
        height: 70px;
        width: 70px;
        cursor: pointer;
        align-items: flex-start
}

