
.header {
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
    background-color: rgba(255, 166, 0, 0.734);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.nav ul{
    display: flex;
    position: relative;
    text-align: center;
    color: #ffffff;
    align-items: center;
    gap: 100px;
    text-decoration: none;
    
}
 


.logoImg {
        display:block;
        cursor: pointer;
        align-items: flex-start;
        height: 50px;
        width: 50px;

}

